#banner
    .banner_content
        %h1 Diary Cabinet
        %p Your life in writing. Always Organized.
        %button= link_to "Enter", new_user_registration_path

#callouts
    .callout_inner
        .wrapper
            .callout
                %h2 Organize
                %p Distillery before they sold out gluten-free sartorial stumptown, knausgaard street art woke roof party bespoke franzen cliche. Gochujang venmo health goth heirloom man braid godard. Intelligentsia paleo humblebrag, farm-to-table fingerstache blue bottle roof party echo park. Artisan iceland unicorn you probably haven't heard of them hella live-edge church-key, man braid chambray synth williamsburg slow-carb yuccie man bun.

#bottom_cta
    .wrapper
        %h2 Go Ahead!
        %br
        %button= link_to "Join Now", new_user_registration_path